<h1>My progress</h1>

<div class="container text-center features">

<%= @my_progress.count %>

  <div class="row">
    <div class="col-xs-6 col-md-6 ">
      <%= render 'course_element' %>

      <%#= link_to 'Show', course_content_path(@course, content), class: "btn btn-primary" %>

    </div>

    <div class="col-xs-6 col-md-6 ">
      <%= render 'course_element' %>
    </div>

  </div>

</div>



<h1>Sugested courses</h1>

<%= @courses_available.count %>

<div class="container text-center features">

  <div class="row">
    <div class="col-xs-6 col-md-6 ">
      <div class="">
        <i class="fa fa-bar-chart fa-5x"></i>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias reprehenderit illo nihil nisi beatae! Ipsam commodi itaque est sunt libero, sapiente voluptatum accusamus similique dicta laboriosam fuga nobis, id deserunt.</h4>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 ">
      <div class="">
        <i class="fa fa-file-text-o fa-5x"></i>
        <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illum, excepturi inventore voluptatem cupiditate nesciunt placeat debitis quae nisi maiores itaque magnam, saepe perferendis aliquid doloremque libero dicta nam perspiciatis. </h4>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 ">
      <div class="">
        <i class="fa fa-cloud-upload fa-5x"></i>
        <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta et, earum inventore eos ullam dolorum atque aliquid, cupiditate, excepturi laudantium nam veritatis maiores minima molestiae. Non dignissimos, aliquid fugit doloremque!</h4>
      </div>
    </div>
    </div>

</div>