<h3 class="text-center">Our current courses</h3>

<div class="row">

  <% @courses.each do |course| %>

  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= course.name %></div>
      <div class="panel-body">
        <p><%= strip_tags(truncate(course.description, length: 100)) %></p>
        <p class="text-center"><%= link_to "Ver curso", course_contents_path(course), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>

  <% end %>

</div>