<h1>Editing Course</h1> <br>

<%= render 'form' %> <br>

<%= link_to 'Show', admin_course_path(@course), class: "btn btn-primary" %>
<%= link_to 'Back', admin_courses_path, class: "btn btn-success" %>
